:host {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;

  &__field,
  &__error {
    margin-bottom: .75rem;
  }

  &__title {
    text-align: center;
  }
}
