<mat-card class="filter">
  <mat-card-header>
    <mat-card-title>Фильтры</mat-card-title>
  </mat-card-header>

  <mat-card-content class="filter__form">
    <mat-form-field>
      <mat-label>Приоритет</mat-label>
      <mat-select [(value)]="filters.priority" (selectionChange)="filterChanges()">
        <mat-option [value]="-1">Все</mat-option>
        <mat-option *ngFor="let option of priorities" [value]="option.id">{{option.caption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Статус</mat-label>
      <mat-select [(value)]="filters.status" (selectionChange)="filterChanges()">
        <mat-option [value]="-1">Все</mat-option>
        <mat-option *ngFor="let option of statuses" [value]="option.id">{{option.caption}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
