<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <div class="bg-light d-flex flex-column pt-3 px-2 mb-2">
        <mat-form-field>
          <mat-label>Вид</mat-label>
          <mat-select [(value)]="viewType">
            <mat-option value="full">Полное</mat-option>
            <mat-option value="short">Короткое</mat-option>
            <mat-option value="kanban">Доска</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="bg-light d-flex flex-column pt-3 px-2">
        <mat-form-field>
          <mat-label>Приоритет</mat-label>
          <mat-select [(value)]="filters.priority" (selectionChange)="loadTasks()">
            <mat-option [value]="-1">Все</mat-option>
            <mat-option *ngFor="let option of priorities" [value]="option.id">{{option.caption}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Статус</mat-label>
          <mat-select [(value)]="filters.status" (selectionChange)="loadTasks()">
            <mat-option [value]="-1">Все</mat-option>
            <mat-option *ngFor="let option of statuses" [value]="option.id">{{option.caption}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-9 tasks">
      <ng-container [ngSwitch]="viewType">
        <app-tasks-table *ngSwitchCase="'full'" [tasks]="tasks$ | async"></app-tasks-table>
        <app-tasks-table *ngSwitchCase="'short'" [tasks]="tasks$ | async" [isShortView]="true"></app-tasks-table>
        <app-tasks-kanban *ngSwitchCase="'kanban'" [tasks]="tasks$ | async" (tasksUpdate)="loadTasks()"></app-tasks-kanban>
      </ng-container>
    </div>
  </div>
</div>
